* {
  box-sizing: border-box;
}
.cc {font-weight: bold;display: inline-block;}
.left30 {margin-left: 30px;}
h1 {
  color: #fff;
  background: #858585;
  padding: 30px 0 30px 50px;
  margin-bottom: 0;
}
.aa,.topM15 {
  height: 100px;width: 100px;
  line-height: 100px;
  text-align: center;
  background: #D6D6D6;
  margin: 0;
  display: inline-block;
  border-bottom: 1px solid #fff; 
}
.cc + div {display: inline-block;}
div>b,div>span {
  display: inline-block;height: 50px;line-height: 50px;
}
div>b {
  margin: 0 0 0 30px;
}
